In [1]:
Tuple Creation

In [ ]:
tup1=()

In [15]:
tup2 =(10,200,300)

In [3]:
tup3=(50.6,60.3,80.3)

In [4]:
tup4=('Pune','Mumbai','Delhi')

In [6]:
tup5=(200,'Pune', (50,100),(150,0))

In [7]:
tup6=(100,'Apurva', 50.65)

In [8]:
tup7=('Apurva',25,[50,100],[150,90],{'Pune','Mumbai'},(99,22,33))

In [9]:
len(tup7)

6

In [ ]:
## Tuple Indexing

In [16]:
tup2[0]

10

In [17]:
tup4[0][0]

'P'

In [18]:
tup4[-1]

'Delhi'

In [19]:
tup5[-1]

(150, 0)

In [20]:
#Tuple Slicing

In [23]:
mytuple=('one' , 'two' , 'three' , 'four' , 'five' , 'six' , 'seven' , 'eight')

In [24]:
mytuple[0:3]

('one', 'two', 'three')

In [25]:
mytuple[2:5]

('three', 'four', 'five')

In [26]:
mytuple[:3]

('one', 'two', 'three')

In [27]:
mytuple[:2]

('one', 'two')

In [28]:
mytuple[-3:]

('six', 'seven', 'eight')

In [29]:
mytuple[-2:]

('seven', 'eight')

In [30]:
mytuple[-1]

'eight'

In [31]:
mytuple[:]

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [32]:
#Remove & Change Items

In [33]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [34]:
for i in mytuple: 
    print(i)

one
two
three
four
five
six
seven
eight

In [35]:
for i in enumerate(mytuple): 
    print(i)

(0, 'one')
(1, 'two')
(2, 'three')
(3, 'four')
(4, 'five')
(5, 'six')
(6, 'seven')
(7, 'eight')

In [ ]:
# Count

In [36]:
mytuple1 =('one', 'two', 'three', 'four', 'one', 'one', 'two', 'three')

In [37]:
mytuple1.count('one')

3

In [38]:
mytuple1.count('two')

2

In [39]:
mytuple1.count('four')

1

In [40]:
## Tuple Membership

In [41]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [42]:
'one' in mytuple

True

In [43]:
'ten' in mytuple

False

In [44]:
if 'three' in mytuple:
    print('Three is present in the tuple')
else:
    print('Three is not present in the tuple')

Three is present in the tuple

In [46]:
if 'eleven' in mytuple: 
    print('eleven is present in the tuple')
else:
    print('eleven is not present in the tuple')

eleven is not present in the tuple

In [ ]:
## Index Position

In [47]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [48]:
mytuple.index('one')

0

In [49]:
mytuple.index('five')

4

In [50]:
mytuple1

('one', 'two', 'three', 'four', 'one', 'one', 'two', 'three')

In [51]:
mytuple1.index('one')

0

In [ ]:
## Sorting

In [53]:
mytuple2=(40,50,60,70,80,90)

In [54]:
sorted(mytuple2)

[40, 50, 60, 70, 80, 90]

In [55]:
sorted(mytuple2, reverse=True)

[90, 80, 70, 60, 50, 40]

In [56]:
## Sets

In [57]:
myset={1,2,3,4,5}
myset

{1, 2, 3, 4, 5}

In [58]:
len(myset)

5

In [59]:
my_set = {3,3,4,4,5,6,7,7}
my_set

{3, 4, 5, 6, 7}

In [60]:
myset1 = {5.23,62.3,90.5,78.5,99.9}
myset1

{5.23, 62.3, 78.5, 90.5, 99.9}

In [61]:
myset2 = {'Pune','Hydrabad','Mumbai','Delhi'}
myset2

{'Delhi', 'Hydrabad', 'Mumbai', 'Pune'}

In [62]:
myset3 = {50,100, "Hiee", (50, 66, 99)}
myset3

{(50, 66, 99), 100, 50, 'Hiee'}

In [63]:
myset4 = set()
print(type(myset4))

<class 'set'>

In [64]:
my_set1 = set(('one' , 'two' , 'three' , 'four')) 
my_set1

{'four', 'one', 'three', 'two'}

In [2]:
myset = {'Apple','Chiku','Orange','Grapes','Straberry'}

In [3]:
for i in myset:
    print(i)

Chiku
Straberry
Grapes
Orange
Apple

In [4]:
for i in enumerate(myset): 
    print(i)

(0, 'Chiku')
(1, 'Straberry')
(2, 'Grapes')
(3, 'Orange')
(4, 'Apple')

In [5]:
##Set Membership

In [6]:
myset

{'Apple', 'Chiku', 'Grapes', 'Orange', 'Straberry'}

In [7]:
'Apple' in myset

True

In [8]:
'Banana' in myset

False

In [9]:
if 'Straberry' in myset: 
   print('Straberry is present in the set')
else:
   print('Straberry is not present in the set')

Straberry is present in the set

In [10]:
if 'Pineapple' in myset:
     print('Pineapple is present in the set')
else:
     print('Pineapple is not present in the set')

Pineapple is not present in the set

In [ ]:
# Add & Remove Items

In [11]:
myset

{'Apple', 'Chiku', 'Grapes', 'Orange', 'Straberry'}

In [12]:
myset.add('Mango')
myset

{'Apple', 'Chiku', 'Grapes', 'Mango', 'Orange', 'Straberry'}

In [13]:
myset.update(['Jackfruit','Starfruit'])
myset

{'Apple',
 'Chiku',
 'Grapes',
 'Jackfruit',
 'Mango',
 'Orange',
 'Starfruit',
 'Straberry'}

In [14]:
myset.remove('Starfruit')
myset

{'Apple', 'Chiku', 'Grapes', 'Jackfruit', 'Mango', 'Orange', 'Straberry'}

In [15]:
myset.discard('Chiku')
myset

{'Apple', 'Grapes', 'Jackfruit', 'Mango', 'Orange', 'Straberry'}

In [16]:
myset.clear()
myset

set()

In [18]:
del myset
myset

NameError: name 'myset' is not defined

In [19]:
## copy set

In [20]:
myset = {'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight'} 
myset

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [21]:
myset1 = myset 
myset

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [22]:
id(myset) , id(myset1)

(3021138547584, 3021138547584)

In [23]:
my_set = myset.copy()
my_set

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [24]:
id(my_set)

3021138548256

In [26]:
myset.add('nine') 
myset

{'eight', 'five', 'four', 'nine', 'one', 'seven', 'six', 'three', 'two'}

In [27]:
myset1

{'eight', 'five', 'four', 'nine', 'one', 'seven', 'six', 'three', 'two'}

In [28]:
my_set

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [29]:
## Set Operation

In [30]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}
C = {8,9,10}

In [31]:
A|B

{1, 2, 3, 4, 5, 6, 7, 8}

In [32]:
A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [33]:
A.union(B, C)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [34]:
A.update(B,C)
A

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [35]:
## Intersection

In [36]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}

In [37]:
A&B

{4, 5}

In [38]:
A.intersection(B) Intersection of A and B

SyntaxError: invalid syntax (3871018507.py, line 1)

In [39]:
A.intersection_update(B) 
A

{4, 5}

In [40]:
## Difference

In [41]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}

In [42]:
A-B

{1, 2, 3}

In [43]:
A.difference(B)

{1, 2, 3}

In [44]:
B- A

{6, 7, 8}

In [45]:
B.difference(A)

{6, 7, 8}

In [46]:
{6, 7, 8}

{6, 7, 8}

In [47]:
## Symmetric Difference

In [48]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}

In [49]:
A ^ B

{1, 2, 3, 6, 7, 8}

In [50]:
A.symmetric_difference(B)

{1, 2, 3, 6, 7, 8}

In [51]:
A.symmetric_difference_update(B) 
A

{1, 2, 3, 6, 7, 8}

In [52]:
## Subset , Superset & Disjoint

In [53]:
A = {1,2,3,4,5,6,7,8,9}
B = {3,4,5,6,7,8}
C = {10,20,30,40}

In [54]:
B.issubset(A)

True

In [55]:
A.issuperset(B)

True

In [56]:
C.isdisjoint(A)

True

In [57]:
B.isdisjoint(A)

False

In [58]:
## Other Builtin functions

In [59]:
A

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [60]:
sum(A)

45

In [61]:
max(A)

9

In [62]:
min(A)

1

In [63]:
len(A)

9

In [64]:
list(enumerate(A))

[(0, 1), (1, 2), (2, 3), (3, 4), (4, 5), (5, 6), (6, 7), (7, 8), (8, 9)]

In [65]:
D= sorted(A,reverse=True) 
D

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [66]:
sorted(D)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
## Dictionary

In [67]:
# Create Dictionary

In [68]:
mydict = dict() 
mydict

{}

In [69]:
mydict = {} 
mydict

{}

In [70]:
mydict = {1:'one' , 2:'two' , 3:'three'} 
mydict

{1: 'one', 2: 'two', 3: 'three'}

In [71]:
mydict = {'A':'one' , 'B':'two' , 'C':'three'} 
mydict

{'A': 'one', 'B': 'two', 'C': 'three'}

In [72]:
mydict = {1:'one' , 'A':'two' , 3:'three'} 
mydict

{1: 'one', 'A': 'two', 3: 'three'}

In [73]:
mydict.keys()

dict_keys([1, 'A', 3])

In [74]:
mydict.values()

dict_values(['one', 'two', 'three'])

In [75]:
mydict.items()

dict_items([(1, 'one'), ('A', 'two'), (3, 'three')])

In [76]:
mydict = {1:'one' , 2:'two' , 'A':['Pune' , 'Hydrabad' , 'Mumbai']}
mydict

{1: 'one', 2: 'two', 'A': ['Pune', 'Hydrabad', 'Mumbai']}

In [78]:
mydict = {1:'one' , 2:'two' , 'A':['Ramesh' , 'Suresh' , 'Mahesh'], 'B':('Bat' , 'cat', 'Hat')} 
mydict

{1: 'one',
 2: 'two',
 'A': ['Ramesh', 'Suresh', 'Mahesh'],
 'B': ('Bat', 'cat', 'Hat')}

In [80]:
mydict = {1:'one' , 2:'two' , 'A':{'Name':'Ramesh' , 'Age' :20}, 'B':('Bat' , 'cat', 'Hat')}
mydict

{1: 'one',
 2: 'two',
 'A': {'Name': 'Ramesh', 'Age': 20},
 'B': ('Bat', 'cat', 'Hat')}

In [81]:
keys = {'a' , 'b' , 'c' , 'd'}
mydict3 = dict.fromkeys(keys) 
mydict3

{'c': None, 'b': None, 'a': None, 'd': None}

In [82]:
keys = {'a' , 'b' , 'c' , 'd'} 
value = 10
mydict3 = dict.fromkeys(keys , value)
mydict3

{'c': 10, 'b': 10, 'a': 10, 'd': 10}

In [84]:
keys = {'a' , 'b' , 'c' , 'd'} 
value = [10,20,30]
mydict3 = dict.fromkeys(keys , value) 
mydict3

{'c': [10, 20, 30], 'b': [10, 20, 30], 'a': [10, 20, 30], 'd': [10, 20, 30]}

In [85]:
value.append(40) 
mydict3

{'c': [10, 20, 30, 40],
 'b': [10, 20, 30, 40],
 'a': [10, 20, 30, 40],
 'd': [10, 20, 30, 40]}

In [86]:
## Accessing Items

In [87]:
mydict = {1:'one' , 2:'two' , 3:'three' , 4:'four'} 
mydict

{1: 'one', 2: 'two', 3: 'three', 4: 'four'}

In [88]:
mydict[1]

'one'

In [89]:
mydict.get(1)

'one'

In [91]:
mydict1 = {'Name':'Apurva' , 'ID':1234  , 'DOB': 2002 , 'job' :'Analyst'} 
mydict1

{'Name': 'Apurva', 'ID': 1234, 'DOB': 2002, 'job': 'Analyst'}

In [92]:
mydict1['Name']

'Apurva'

In [93]:
mydict1.get('job')

'Analyst'

In [94]:
## Add, Remove & Change Items

In [95]:
mydict1 = {'Name':'Apurva' , 'ID': 12345 , 'DOB': 2002 , 'Address' : 'Pune'} 
mydict1

{'Name': 'Apurva', 'ID': 12345, 'DOB': 2002, 'Address': 'Pune'}

In [97]:
mydict1['DOB'] = 2002 
mydict1['Address'] = 'Pune' 
mydict1

{'Name': 'Apurva', 'ID': 12345, 'DOB': 2002, 'Address': 'Pune'}

In [98]:
mydict1['Job'] = 'Analyst' 
mydict1

{'Name': 'Apurva',
 'ID': 12345,
 'DOB': 2002,
 'Address': 'Pune',
 'Job': 'Analyst'}

In [99]:
mydict1.pop('Job')
mydict1

{'Name': 'Apurva', 'ID': 12345, 'DOB': 2002, 'Address': 'Pune'}

In [100]:
mydict1.popitem()

('Address', 'Pune')

In [101]:
mydict1

{'Name': 'Apurva', 'ID': 12345, 'DOB': 2002}

In [102]:
del[mydict1['ID']] 
mydict1

{'Name': 'Apurva', 'DOB': 2002}

In [103]:
mydict1.clear() 
mydict1

{}

In [104]:
del mydict1 
mydict1

NameError: name 'mydict1' is not defined

In [105]:
## Copy Dictionary

In [117]:
mydict = {'Name':'Anushka' , 'ID': 11223 , 'DOB': 2011 , 'Address' : 'Pune'} 
mydict

{'Name': 'Anushka', 'ID': 11223, 'DOB': 2011, 'Address': 'Pune'}

In [108]:
mydict1 = mydict

In [109]:
id(mydict) , id(mydict1)

(3021139495232, 3021139495232)

In [110]:
mydict2 = mydict.copy()

In [111]:
id(mydict2)

3021125146432

In [114]:
mydict['Address'] = 'Pune'

In [118]:
mydict

{'Name': 'Anushka', 'ID': 11223, 'DOB': 2011, 'Address': 'Pune'}

In [119]:
mydict1

{'Name': 'Apurva', 'ID': 12345, 'DOB': 2002, 'Address': 'Pune'}

In [120]:
## Loop through a Dictionary

In [125]:
mydict1 = {'Name':'Apurva' , 'ID': 12345 , 'DOB': 2002 , 'Address' : 'Pune' ,'Job':'Analyst'}
mydict1

{'Name': 'Apurva',
 'ID': 12345,
 'DOB': 2002,
 'Address': 'Pune',
 'Job': 'Analyst'}

In [126]:
for i in mydict1:
    print(i , ':' , mydict1[i])

Name : Apurva
ID : 12345
DOB : 2002
Address : Pune
Job : Analyst

In [127]:
for i in mydict1:
    print(mydict1[i])

Apurva
12345
2002
Pune
Analyst

In [ ]:
## Dictionary Membership

In [128]:
mydict1 = {'Name':'Apurva' , 'ID': 12345 , 'DOB': 2002 , 'Address' : 'Pune' ,'Job':'Analyst'}
mydict1

{'Name': 'Apurva',
 'ID': 12345,
 'DOB': 2002,
 'Address': 'Pune',
 'Job': 'Analyst'}

In [129]:
'Name' in mydict1

True

In [130]:
'Apurva' in mydict1

False

In [131]:
'ID' in mydict1

True

In [132]:
'Address' in mydict1

True

In [133]:
## All / Any

In [134]:
mydict1 = {'Name':'Apurva' , 'ID': 12345 , 'DOB': 2002 , 'Address' : 'Pune' ,'Job':'Analyst'}
mydict1

{'Name': 'Apurva',
 'ID': 12345,
 'DOB': 2002,
 'Address': 'Pune',
 'Job': 'Analyst'}

In [135]:
all(mydict1)

True